variables:
  UV_VERSION: 0.9
  PYTHON_VERSION: 3.13
  BASE_LAYER: bookworm-slim
  UV_LINK_MODE: copy

stages:
  - build

pages:
  stage: build
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  variables:
    UV_CACHE_DIR: .uv-cache
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - $UV_CACHE_DIR
  script:
    - uv sync
    - uv run export_and_build_docs.py
    - uv cache prune --ci
  publish: site
  artifacts:
    paths:
      - site
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  environment: production
